<!doctype html>
<html lang="ru">
{% include 'base/bootstrap.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<title>{% block title %}(no title){% endblock %}</title>
<link rel="shortcut icon" type="image/x-icon" href={% static "favicon.ico" %}/>

<div class="container-fluid d-flex flex-column" style="height: auto; min-height: 100%">
    {% include 'base/navbar.html' %}
    <div class="col px-md-5 d-flex flex-column justify-content-center w-100">
        {% block 'body' %}
        {% endblock %}
    </div>
    {% include 'base/footer.html' %}
</div>
</html>