<header class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    {% load static %}
    <a class="navbar-brand" href="/">
        <img src={% static "favicon.ico" %} class="rounded" style="width: 50px"> Стартапик "Абстракцио"
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item {% if nbar == 'home' %}active{% endif %}">
                <a class="nav-link" href="/">Главная<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item {% if nbar == 'joke' %}active{% endif %}">
                <a class="nav-link" href="joke">Шутка!</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
            <li class="nav-item {% if nbar == 'about' %}active{% endif %}">
                <a class="nav-link" href="about">О проекте</a>
            </li>
        </ul>
    </div>
</header>