{% extends 'base/base_template.html' %}
{% block title %}О проекте{% endblock %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
{% block 'body' %}
    <div class="container-fluid" style="padding: 20px; margin-bottom: 32px">
        <h1 class="display-4">{{ about.project.header }}</h1>
        <p class="lead text-justify">{{ about.project.info }}</p>
        <p class="lead text-justify">{{ about.project.additional_info }}</p>
        <hr class="my-4">
        <h4 class="text-center">
            {% for technology in about.project.technologies %}
                <span class="badge badge-pill badge-info">{{ technology }}</span>
            {% endfor %}
        </h4>
    </div>

    <h1 class="display-4">{{ about.author.header }}</h1>
    <div class="jumbotron" style="padding: 0px">
        <div class="container-fluid" style="padding: 20px">
            <div class="row d-flex flex-column d-sm-flex flex-sm-row">
                <div class="col-auto justify-content-center align-items-center">
                    <img class="rounded-circle justify-self-center align-self-center shadow img-fluid"
                         style="width: 350px;" src={% static about.author.photo %}>
                </div>
                <div class="col lead text-justify">{{ about.author.info }}</div>
            </div>
            <hr class="my-4">
            <div class="row d-flex flex-column d-sm-flex flex-sm-row">
                {% for contact in about.author.contacts %}
                    <div class="col d-flex justify-content-center align-items-center">
                        <img style="width: 50px; margin: 5px" src={% static contact.icon  %}>
                        <div class="lead">{{ contact.text }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container-fluid d-flex flex-column" style="padding: 20px; margin-bottom: 32px">
        <h1 class="display-4">{{ about.project.requirements_header }}</h1>
        <div class="card align-self-center shadow" style="min-width: 50%">
            <table class="card-table table" style="margin: 0px">
                <thead>
                <tr>
                    <th scope="col">Package name</th>
                    <th scope="col" class="text-center">Version</th>
                </tr>
                </thead>
                <tbody>
                {% for package in about.project.requirements %}
                    <tr>
                        <td>{{ package.name }}</td>
                        <td class="text-center">{{ package.version }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="container-fluid d-flex flex-column" style="padding: 20px; margin-bottom: 32px">
        <h1 class="display-4">{{ about.project.services_header }}</h1>
        <div class="card align-self-center shadow" style="margin-bottom: 32px; min-width: 50%">
            <table class="card-table table" style="margin: 0px">
                <thead>
                <tr>
                    <th scope="col">Название сервиса</th>
                    <th scope="col">Описание</th>
                    <th scope="col" class="text-center">Ссылка</th>
                </tr>
                </thead>
                <tbody>
                    {% for item in about.project.services %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td>{{ item.info }}</td>
                            <td class="text-center"><a class="badge badge-info" href={{ item.ref }}>ссылка</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}