{% extends 'base/base_template.html' %}
{% block title %}Главная страница{% endblock %}
{% load static %}
{% block 'body' %}
    <div class="container-fluid" style="padding: 20px;">
        <h1 class="display-4">{{ home.header }}</h1>
        <div class="lead text-justify">{{ home.description }}</div>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide justify-self-center align-self-center pb-2 w-100 px-sm-5"
         data-ride="carousel">
        <ol class="carousel-indicators">
            {% for carousel_item in home.carousel %}
                <li data-target="#carouselExampleIndicators" data-slide-to={{ forloop.counter0 }}
                        {% if forloop.counter0 == 0 %}class="active"{% endif %}></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner shadow-lg">
            {% for carousel_item in home.carousel %}
                <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
                    <a href={{ carousel_item.ref }}>
                        <img class="d-block w-100" src={% static carousel_item.image %}>
                    </a>
                </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Предыдущий</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Следующий</span>
        </a>
    </div>
    <div class="bd-callout bd-callout-info">
        <h4>{{ home.faq_header }}</h4>
        <h6>{{ home.faq_description }}</h6>
        <div class="accordion" id="accordion">
            {% for faq in home.faqs %}
                <div class="card">
                    <div class="card-header p-0 shadow-sm" id="accordion-heading-{{ forloop.counter }}">
                        <button class="btn w-100" type="button" data-toggle="collapse"
                                data-target="#accordion-content-{{ forloop.counter }}" aria-expanded="false"
                                aria-controls="accordion-content-{{ forloop.counter }}"
                                style="box-shadow: none !important; outline: 0px !important;">
                            <h6 class="text-left text-info m-0 p-1">{{ faq.question }}</h6>
                        </button>
                    </div>
                    <div class="collapse" id="accordion-content-{{ forloop.counter }}"
                         aria-labelledby="accordion-heading-{{ forloop.counter }}" data-parent="#accordion">
                        <div class="card-body">
                            <p>{{ faq.answer }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}