{% extends 'base/base_template.html' %}
{% block title %}Главная страница{% endblock %}
{% load static %}
{% block 'body' %}
    <div class="container-fluid" style="padding: 20px;">
        <h1 class="display-4">{{ home.header }}</h1>
        <p class="lead text-justify">{{ home.description }}</p>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide justify-self-center align-self-center pb-2 w-100 px-sm-5"
         data-ride="carousel">
        <ol class="carousel-indicators">
            {% for carousel_item in home.carousel %}
                <li data-target="#carouselExampleIndicators" data-slide-to={{ forloop.counter0 }}
                        {% if forloop.counter0 == 0 %}class="active"{% endif %}></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner shadow-lg">
            {% for carousel_item in home.carousel %}
                <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
                    <a href={{ carousel_item.ref }}>
                        <img class="d-block w-100" src={% static carousel_item.image %}>
                    </a>
                </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Предыдущий</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Следующий</span>
        </a>
    </div>
    <div class="bd-callout bd-callout-info">
        <h4>{{ home.info_header }}</h4>
        {% for info in home.infos %}
            <div class="lead">{{ info }}</div>
        {% endfor %}
    </div>
{% endblock %}