{% extends 'base/base_template.html' %}
{% block title %}Цитата{% endblock %}
{% load static %}

{% block 'body' %}
    <script type="text/javascript" src={% static "quote_book.js" %}></script>
    <div class="card-group my-4" id="quotes">
        {% for quote in quotes %}
            <div class="col">
                <div class="card shadow align-self-center h-100 mb-4">
                    <img class="card-img-top" style="max-width: 800px;" id="img-{{ forloop.counter0 }}" src={% static quote.picture %}>
                    <div class="card-body ml-auto" style="max-width: 800px; height: 100%">
                        <blockquote class="blockquote text-right">
                            <p class="mb-0" id="quote-{{ forloop.counter0 }}">{{ quote.quote }}</p>
                            <footer class="blockquote-footer" id="profession-{{ forloop.counter0 }}">{{ quote.profession }} {{ quote.name }}, <cite
                                     id="year-{{ forloop.counter0 }}">{{ quote.year }}</cite>
                            </footer>
                        </blockquote>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>

    {% csrf_token %}
    <button type="button" class="btn btn-info mb-4" id="refresh"
            style="box-shadow: none !important; outline: 0px !important;">Другая подборка
    </button>
{% endblock %}
